@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de cliente</h1>
    <p>Sistema de teste para Cadastro de clientes</a>.</p>
    <a href="/clientes" class="btn btn-primary" >Ir para clientes</a>
</div>
