@{
    ViewData["Title"] = "Clientes";
}

@model IEnumerable<CadastroCliente.Interfaces.IPessoa>

<h1>Lista de Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Documento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Documento</td>
            </tr>
        }
    </tbody>
</table>
